To present a verifiable credential follow these steps:

<ol style="margin-top: 25px;">
    <li>Open the Microsoft Authenticator on your mobile device. If you run this sample app on your
        mobile device,
        you can use <a id="targetUrl" href="@Model._settings.QrCodeUrl"> this
            link</a> directly without scanning the QR code.</li>
    <li>From the right-top conner, select the QR icon <i class="bi bi-qr-code"></i>.</li>
    <li>Scan the QR code.</li>
    <li>Finally, on the Authenticator app, select <b>Share</b>.</li>
</ol>