<p>
    Scan the QR code with your mobile phone.
</p>
<div class=" text-center">
    <div id="qrcode" class="align-self-center" style="display: inline-block;"></div>
</div>


<p class="fs-6" style="margin-top: 15px;">
    Run this demo on a
    mobile device?
    use <a id="targetUrl" class="link-warning" href=""> this
        link</a>!
</p>

<div class="position-absolute bottom-0 start-0">
    <button class="btn btn-secondary" onclick="stepper.previous()">Back</button>
</div>