<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-buildings"></i> Student card</h5>
                    <div class="wgu_about_vc_type">ID token hint</div>
                    <p class="card-text wgu_about_card_text">Issue and present verifiable credentials with claims
                        provided by Woodgrove
                        University.</p>
                    <div>
                        <a class="btn btn-primary wgu_about_card_button card_IdTokenHint"
                            href="/IdTokenHint/issue">Issue</a>
                        <a class="btn btn-primary wgu_about_card_button card_IdTokenHint"
                            href="/IdTokenHint/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-file-earmark-text"></i> Code of conduct
                    </h5>
                    <div class="wgu_about_vc_type">Self-issued</div>
                    <p class="card-text wgu_about_card_text">Issue and present verifiable credentials where you manually
                        enter values for
                        the claims.</p>
                    <div>
                        <a class="btn btn-primary wgu_about_card_button card_SelfIssued"
                            href="/SelfIssued/issue">Issue</a>
                        <a class="btn btn-primary wgu_about_card_button card_SelfIssued"
                            href="/SelfIssued/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 25px;">
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-cash-coin"></i> Loyalty card</h5>
                    <div class="wgu_about_vc_type">OpenID Connect IDP</div>
                    <p class="card-tex wgu_about_card_text">Issue and present a credential where you're required to
                        sign-in to Woodgrove Grocieries app.
                    </p>
                    <div>
                        <a class="btn btn-primary wgu_about_card_button card_IdToken" href="/IdToken/issue">Issue</a>
                        <a class="btn btn-primary wgu_about_card_button card_IdToken"
                            href="/IdToken/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-person-badge-fill"></i> Employee ID</h5>
                    <div class="wgu_about_vc_type">Employee credential</div>
                    <p class="card-text wgu_about_card_text"> Issue and present a verifiable credential for
                        directory-based claims.</p>
                    <div>
                        <a class="btn btn-primary wgu_about_card_button card_Employee" href="/Employee/issue">Issue</a>
                        <a class="btn btn-primary wgu_about_card_button card_Employee"
                            href="/Employee/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 25px;">
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-card-heading"></i> Contractor ID</h5>
                    <div class="wgu_about_vc_type">Presentation</div>
                    <p class="card-tex wgu_about_card_text">Issue and present verifiable credential by presenting claims
                        from an existing verifiable credential.
                    </p>
                    <div>
                        <a class="btn btn-primary wgu_about_card_button card_Presentation"
                            href="/Presentation/issue">Issue</a>
                        <a class="btn btn-primary wgu_about_card_button card_Presentation"
                            href="/Presentation/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-gift"></i> Gift card </h5>
                    <div class="wgu_about_vc_type">Multiple attestations</div>
                    <p class="card-text wgu_about_card_text"> Issue and present a verifiable credential with multiple
                        attestations.</p>
                    <div>
                        <a class="btn btn-primary wgu_about_card_button card_Multiple" href="/Multiple/issue">Issue</a>
                        <a class="btn btn-primary wgu_about_card_button card_Multiple"
                            href="/Multiple/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 25px;">
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-gift"></i> Revoke a credential</h5>
                    <p class="card-tex wgu_about_card_text">To revoke a credential, check out the <b>gift card</b>
                        demo.<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
                    </p>
                    <div>
                        <a class="btn btn-secondary wgu_about_card_button" href="/Multiple/issue">Issue</a>
                        <a class="btn btn-secondary wgu_about_card_button" href="/Multiple/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi  bi-file-earmark-text"></i> Presentation
                        constrains </h5>
                    <p class="card-text wgu_about_card_text">Requesting a credential with specific claim value, check
                        out the <b>code of conduct</b> demo</p>
                    <div>
                        <a class="btn btn-secondary wgu_about_card_button" href="/SelfIssued/issue">Issue</a>
                        <a class="btn btn-secondary wgu_about_card_button" href="/SelfIssued/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="padding-top: 25px;">
        <div class="col-sm-6">
            <div class="card wgu_about_card">
                <div class="card-body">
                    <h5 class="card-title wgu_about_card_title"><i class="bi bi-person-bounding-box"></i> Face check</h5>
                    <p class="card-tex wgu_about_card_text">Issue a <b>student card</b> with your photo and get access to Woodgrove library. 
                    </p>
                    <div>
                        <a class="btn btn-secondary wgu_about_card_button" href="/IdTokenHint/issue">Issue</a>
                        <a class="btn btn-secondary wgu_about_card_button" href="/FaceCheck/Present">Present</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>
</div>
