@page
@model WoodgroveDemo.Pages.IdToken.IssueModel
@{
    ViewData["Title"] = "Issue Woodgrove Groceries loyalty card";
    ViewData["SubTitle"] = "OpenID Connect identity provider attestation";
}

@section Background {
    <div style="background-image: url(/images/scenarios/loyalty1.png), url(/images/scenarios/loyalty2.png);
    background-repeat: no-repeat;
    background-size: 167px, 65%;
    background-position: left bottom, right top;
    height: 100vh;
    width: 100%;
    z-index: -250;
    position: absolute;">

    </div>

    <div id="layover" class="wgu-layover">
        <div class="position-absolute top-0 end-0">
            <button class="btn btn-warning" onclick="endDemo()" style="margin-left: -100px; margin-top: 25px;">X</button>
        </div>

        <div class="jumbotron wgu_jumbotron_demo_center" style="top: 50%; left: 50%;">
            <div class="bs-stepper vertical">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#intro-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="intro-part"
                            id="intro-part-trigger">
                            <span class="bs-stepper-circle" style="visibility: hidden;"><i class="bi bi-info-lg"></i></span>
                            <span class="bs-stepper-label">Welcome</span>
                        </button>
                    </div>
                    <div class="step" data-target="#qrcode-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="qrcode-part"
                            id="qrcode-part-trigger">
                            <span class="bs-stepper-circle"><i class="bi bi-qr-code"></i></span>
                            <span class="bs-stepper-label">Scan the QR code</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#userAction-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="userAction-part"
                            id="userAction-part-trigger">
                            <span class="bs-stepper-circle"><i class="bi bi-person-lock"></i></span>
                            <span class="bs-stepper-label">Login to Woodgrove</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#completed-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="completed-part"
                            id="completed-part-trigger">
                            <span class="bs-stepper-circle"><i class="bi bi-check2-all"></i></span>
                            <span class="bs-stepper-label">Completed</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content position-relative" style="width: 100%;">
                    <!-- Introdction step -->
                    <div id="intro-part" class="content fs-5" role="tabpanel" aria-labelledby="intro-part-trigger">

                        This online demo will help you get Woodgrove loyalty card.
                        @Model._settings.CardDetails.Card.Description


                        <p style="padding-top: 15px;">
                            If you already have this
                            credential, first delete it from the Authenticator app, or
                            <a asp-page="Present" class="link-warning">start the presentation demo</a>.
                        </p>

                        <p style="padding-top: 15px;">
                            To start, click the
                            start
                            button.
                        </p>

                        <div class="position-absolute bottom-0 end-0">
                            <button class="btn btn-warning" onclick="startIssuance('IdToken', null);">
                            <span id="startDemoSpinner" style="display: none;" class="spinner-border spinner-border-sm"
                                role="status" aria-hidden="true"></span> Start</button>
                        </div>
                    </div>

                    <div id="qrcode-part" class="content fs-5" role="tabpanel" aria-labelledby="qrcode-part-trigger">
                        <partial name="QrCodePartial" />
                    </div>

                    <div id="userAction-part" class="content fs-5" role="tabpanel"
                        aria-labelledby="userAction-part-trigger">
                        <p>
                            In the Microsoft Authenticator, on the <b>Add a Verified ID</b> sign-in to your Woodgrove
                            Groceries account. You can sign-in
                            with an
                            existing account or create a new one. After you signed-in, select <b>add</b>.
                        </p>
                    </div>


                    <div id="completed-part" class="content fs-3" style="margin-top: 50px;" role="tabpanel"
                        aria-labelledby="completed-part-trigger">
                        Congratulations, your gift card was issued and is stored in Microsoft authenticator on your
                        mobile
                        phone and ready to use.

                        <div class="text-center fs-1" style="margin-top: 20px;">
                            <i class="bi bi-emoji-smile"></i>
                        </div>

                        <p class="fs-6" style="margin-top: 20px;">
                            Next, start the <a id="linkToPresent" class="link-warning" asp-page="Present">presentation of
                                the
                                student card</a> demo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Demo {

    <div class="row">
        <div class="col fs-4">
            <p style="margin-top: 100px;">
                Woodgrove loyalty progarm offers discounts, priority support, and flexible free shippoing.
            <h4>Loyal to You, Loyal to Quality</h4>
            <ul class="col fs-6">
                <li>Benefit from free Wi-Fi access in all Woodgrove Groceries stores and Cafes.</li>
                <li>Exclusive access to sales or events.</li>
                <li>Free shipping and return.</li>
                <li>Enjoy VIP perks, birthday gifts and rewards.</li>
            </ul>

            <button type="button" style="margin-top: 50px;" class="btn btn-secondary btn-lg" onclick="startDemo();"><i
                    class="bi bi-gift"></i>
                Get Woodgrove loyalty card now</button>
            </p>

            <h2 style="color: red">This demo is under development and may not work!</h2>
        </div>
        <div class="col" style="padding-left: 100px;">
            <p class="text-center">
                <i class="bi bi-gift" style="font-size: 150pt; color: white;"></i>
            </p>

        </div>
    </div>


}

@section Scripts {


}

@section VerifiableCredentialDescription {
    <p style="margin-top: 10px;">
        This example shows how to issue a verifiable credential with <a
            href="https://learn.microsoft.com/entra/verified-id/how-to-use-quickstart-idtoken">ID tokens
            attestation</a>, where you were required to do an interactive sign-in to an OpenID Connect (OIDC)
        identity provider during the credential issuance flow.

        In this example, you issued the verifiable credential after you signed-in or signed-up with a <a
            href="https://woodgrovedemo.com/">Woodgrove Groceries account</a>.
        The verifiable credential contains the <i>name</i>, <i>loyaltyNumber</i>, <i>loyaltyTier</i>, and
        <i>loyaltySince</i> claims
        that return by Woodgrove Groceries' identity provider. For details check the <a
            href="https://learn.microsoft.com/en-us/entra/verified-id/rules-and-display-definitions-model#idtokenattestation-type">idTokenAttestation
            attestation</a> in the credential definition tab.
    </p>
}
