@page
@model WoodgroveDemo.Pages.Multiple.PresentModel
@{
    ViewData["Title"] = "Woodgrove campus store";
    ViewData["SubTitle"] = "Multiple attestations";
}

@section NavbarRight {
    <div>Your cart: <span id="bag">0</span>$ <button id="checkout" style="display: none; margin-left: 10px;" type="button"
            class="btn btn-warning" onclick="startDemo()"><i class="bi bi-cart"></i> Checkout</button></div>
}

@section Demo {
    <style>
        :root {
            --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
        }

        .wgu-giftcard-card {
            background-color: #222;
            border: 2px solid #dd2476;
            color: rgba(250, 250, 250, 0.8);
            margin-bottom: 2rem;
        }


        .wgu-giftcard-btn {
            border: 3px solid;
            border-image-slice: 1;
            background: var(--gradient) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            border-image-source: var(--gradient) !important;
            text-decoration: none;
            transition: all .4s ease;
        }

        .wgu-giftcard-btn:hover,
        .wgu-giftcard-btn:focus {
            background: var(--gradient) !important;
            -webkit-background-clip: none !important;
            -webkit-text-fill-color: #fff !important;
            border: 3px solid #fff !important;
            box-shadow: #222 1px 0 10px;
            text-decoration: underline;
        }
    </style>
    <script>
        function addItem(price) {
            var current = 0;

            if ($("#bag").text() != '') {
                current = parseInt($("#bag").text(), 0);
            }

            $("#bag").html(current + price);

            if (current + price >= 200) {
                $("#checkout").show();
            }

            $("#Subtotal").html((current + price) + "$")
            $("#total").html((current + price - 150) + "$")

        }
    </script>

    <h5>To start add items to the cart, then select the <b>checkout</b> button above</h5>
    <div class="container mx-auto" style="">
        <div class="row">
            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Surface-Go-4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Surface Go 4</h5>
                        <h6 class="card-subtitle mb-2">450$</h6>
                        <p class="card-text">Surface Go 4 Feature in tablet mode with grey Typecover, Surface Pen in silver
                            and Surface Mouse.</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(450); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn ">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Platinum-Surface-Laptop-Go-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Surface Laptop Go 3</h5>
                        <h6 class="card-subtitle mb-2">330$</h6>
                        <p class="card-text">Platinum Surface Laptop Go 3 in three quarter view with Surface Management
                            Portal on screen..</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(330); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Surface-Go-4-black.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Surface Go 4 black </h5>
                        <h6 class="card-subtitle mb-2">380$</h6>
                        <p class="card-text">Surface Go 4 tablet mode with black Typecover, Surface Pen in silver and
                            Surface Mouse.</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(380); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn ">Details</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Screen.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Monitor</h5>
                        <h6 class="card-subtitle mb-2">250%</h6>
                        <p class="card-text">Portable Monitor for Laptop PC Phone& Mac. 15.6inch FHD 1080P USB C HDMI
                            Ultra-Slim.</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(250); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Win11-L.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Windows 11</h5>
                        <h6 class="card-subtitle mb-2">30$</h6>
                        <p class="card-text">Windows 11 is the one place for it all. With a fresh new feel and tools that
                            make it easier to be efficient.</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(40); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Office.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Microsoft 365 Personal</h5>
                        <h6 class="card-subtitle mb-2">30$</h6>
                        <p class="card-text">For PCs, Macs, phones, and tablets, 1 TB of cloud storage, apps with premium
                            features and secure email.</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(30); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn">Details</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Headphones.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wireless Headset</h5>
                        <h6 class="card-subtitle mb-2">75$</h6>
                        <p class="card-text">Connect to your Windows 11 with the Certified for Microsoft Teams wireless
                            headset.</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(75); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card wgu-giftcard-card" style="width: 18rem;">
                    <img src="~/images/scenarios/store/Phone.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Surface Duo 2</h5>
                        <h6 class="card-subtitle mb-2">530$</h6>
                        <p class="card-text">Two screens for apps, email, meetings, and calls with a lightning-fast 5G.</p>
                        <a class="btn wgu-giftcard-btn mr-2" onclick="addItem(530); return false;"><i
                                class="bi bi-bag-plus"></i> Add</a>
                        <a href="#" class="btn wgu-giftcard-btn">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Background {
    <div id="layover" class="wgu-layover">
        <div class="position-absolute top-0 end-0">
            <button class="btn btn-warning" onclick="endDemo()" style="margin-left: -100px; margin-top: 25px;">X</button>
        </div>

        <div class="jumbotron wgu_jumbotron_demo_center" style="top: 50%; left: 50%;">
            <div class="bs-stepper vertical">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#intro-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="intro-part"
                            id="intro-part-trigger">
                            <span class="bs-stepper-circle" style="visibility: hidden;"><i class="bi bi-info-lg"></i></span>
                            <span class="bs-stepper-label">Welcome</span>
                        </button>
                    </div>
                    <div class="step" data-target="#information-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                            id="information-part-trigger">
                            <span class="bs-stepper-circle"><i class="bi bi-keyboard"></i></span>
                            <span class="bs-stepper-label">Checkout</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#qrcode-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="qrcode-part"
                            id="qrcode-part-trigger">
                            <span class="bs-stepper-circle"><i class="bi bi-qr-code"></i></span>
                            <span class="bs-stepper-label">Scan the QR code</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#userAction-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="userAction-part"
                            id="userAction-part-trigger">
                            <span class="bs-stepper-circle"><i class="bi bi-person-lock"></i></span>
                            <span class="bs-stepper-label">Share the gift card</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#completed-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="completed-part"
                            id="completed-part-trigger">
                            <span class="bs-stepper-circle"><i class="bi bi-check2-all"></i></span>
                            <span class="bs-stepper-label">Completed</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content position-relative" style="width: 100%;">
                    <!-- Introdction step -->
                    <div id="intro-part" class="content fs-5" role="tabpanel" aria-labelledby="intro-part-trigger">

                        This online demo will help you to checkout and get a discount using Woodgrove gift card.

                        <p style="padding-top: 15px;">
                            Do not have a gift card? click <a asp-page="Issue" class="link-warning">here</a> to get one.
                        </p>

                        <p style="padding-top: 15px;">
                            To start, click the
                            start
                            button.
                        </p>

                        <div class="position-absolute bottom-0 end-0">
                            <button class="btn btn-warning" onclick="stepper.next()">Start</button>
                        </div>
                    </div>

                    <!-- Add credential's information step -->
                    <div id="information-part" class="content fs-5" role="tabpanel"
                        aria-labelledby="information-part-trigger">

                        <h4>Checkout</h4>

                        <div class="mb-3  fs-6" style="margin-top: 20px; ">
                            <p>Free 3-4 day shipping on orders above $100USD</p>

                            <table class="table table-dark fs-6">
                                <tbody>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td id="Subtotal"></td>
                                    </tr>
                                    <tr>
                                        <th>FREE shipping!</th>
                                        <td>0$</td>
                                    </tr>
                                    <tr>
                                        <th>Taxes calculated at checkout.</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Woodgrove gift card</th>
                                        <td>-150$</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td id="total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="position-absolute bottom-0 end-0">
                            <button type="button" style="margin-top: 15px;" class="btn btn-warning" onclick="
                            startPresentation('Multiple');"> <span id="startDemoSpinner" style="display: none;" class="spinner-border spinner-border-sm"
                                role="status" aria-hidden="true"></span> Next</button>
                        </div>

                        <div class="position-absolute bottom-0 start-0">
                            <button class="btn btn-secondary" onclick="stepper.previous()">Back</button>
                        </div>
                    </div>
                    <div id="qrcode-part" class="content fs-5" role="tabpanel" aria-labelledby="qrcode-part-trigger">
                        <partial name="QrCodePartial" />
                    </div>

                    <div id="userAction-part" class="content fs-5" role="tabpanel"
                        aria-labelledby="userAction-part-trigger">
                        <p>
                            In the Microsoft Authenticator review the presentation request and share the gift card with
                            us.
                        </p>

                        <div class="text-center">
                            <div class="spinner-border" style="color: orange;" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>

                    <div id="completed-part" class="content fs-3" style="margin-top: 50px;" role="tabpanel"
                        aria-labelledby="completed-part-trigger">
                        <div id="presentationCompleted">
                            Congratulations <span id="valueToPresent" style="color: orange;"></span>, your gift card <span
                                id="secondValueToPresent" style="color: orange;"></span> was
                            successfully validated and the items will ship to the address registered in our system.

                            <div class="text-center fs-1" style="margin-top: 20px;">
                                <i class="bi bi-emoji-smile"></i>
                            </div>

                            <div class="fs-5" style="margin-top: 20px; color: orange;">
                                Note, after the purchase, we revoked this gift card.
                            </div>
                        </div>
                        <div id="credentialIsRevoked" style="display: none;">
                            
                            Sorry, the gift card was revoked, please try again with another gift card.

                            <div class="text-center fs-1" style="margin-top: 20px;">
                                <i class="bi bi-emoji-frown" style="color: red;"></i>
                            </div>
                        </div>
                        <div class="position-absolute bottom-0 end-0">
                            <button class="btn btn-warning" onclick="endDemo()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section VerifiableCredentialDescription {
    <p style="margin-top: 10px;">
        This example shows how to present (and verify) a verifiable credential with <a
            href="https://learn.microsoft.com/entra/verified-id/how-to-use-quickstart-multiple">multiple attestations</a>.

        When the credential was issued, Woodgrove University provided the <b>sum</b> claim specifying the amount of money in
        the card (<a href="https://learn.microsoft.com/en-us/entra/verified-id/how-to-use-quickstart">ID token hint
            attestation</a>). While the user entered their display name (<a
            href="https://learn.microsoft.com/entra/verified-id/how-to-use-quickstart-selfissued">self-issue
            attestation</a>).
        For
        details check the <a
            href="https://learn.microsoft.com/en-us/entra/verified-id/rules-and-display-definitions-model#idtokenhintattestation-type">idTokenHint
            attestation</a> and the <a
            href="https://learn.microsoft.com/en-us/entra/verified-id/rules-and-display-definitions-model#selfissuedattestation-type">selfIssued</a>
        attestation</a> in manifest below.
    </p>
    <p>
        After the gift card successfully presented, this app revokes the gift card using the admin API <a href="https://learn.microsoft.com/entra/verified-id/admin-api#search-credentials">search</a> and <a href="https://learn.microsoft.com/entra/verified-id/admin-api#revoke-credential">revoke</a>.
    </p>
}