:root {
  --color-light: rgba(0, 0, 0, 0.124);
  --color-very-light: rgba(0, 0, 0, 0.1);
  --color-very-very-light: rgba(0, 0, 0, 0.042);

  --color-dark: rgba(0, 0, 0, 0.668);
  --color-very-dark: rgba(0, 0, 0, 0.809);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.link-without-underline,
.link-without-underline a:link,
.link-without-underline a:visited {
  color: white;
  text-decoration: none;
}

.link-without-underline:hover {
  color: white;
  text-decoration: underline;
}

#lnkSignUp {
  padding: 15px 30px 15px 30px;
  font-size: larger;
}

a {
  color: black;
  text-underline-offset: 2px;
}

a:hover {
  color: var(--color-light)
}

/***** Navbar ************/
.navbar {
  border-radius: 5px;
  color: white;
}


/*********** Title ***********/
.wgu-title {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 0 white;
}

.wgu-subtitle {
  font-size: 14pt;
  color: gray;
}


/***** credential card *****/
.card-preview-container {
  white-space: normal;
  width: 345px;
  height: 200px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
}


.card-preview-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
}

.card-preview-logo img {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

.card-preview-name {
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.card-preview-issuer {
  font-size: 13px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/************** Select a use case ****************/
.wgu_about_card_title {
  text-align: left;
  margin: 0 !important;
}

.wgu_about_vc_type {
  padding-top: 5px;
  font-size: smaller;
  color: gray;
}

.wgu_about_card_button {
  min-width: 80px;
  border-style: none;
}

.wgu_about_card_button:hover {
  opacity: 0.7;
}

.wgu_about_card_text {
  margin-top: 7px;
  min-height: 90px;
}

.wgu_about_card:hover {
  transform: scale(1.01);
  background-color: var(--color-very-very-light);
  box-shadow: 0 0 2px 0.5px var(--color-light)
}

/************** Cards *********************/

.card_IdTokenHint,
.card_IdTokenHint:hover {
  background-color: #171769;
}

.card_SelfIssued,
.card_SelfIssued:hover {
  background-color: #622569;
}

.card_IdToken,
.card_IdToken:hover {
  background-color: #216902;
}

.card_Employee,
.card_Employee:hover {
  background-color: #b35900;
}

.card_Presentation,
.card_Presentation:hover {
  background-color: #740000;
}

.card_Multiple,
.card_Multiple:hover {
  background-color: #b30059;
}

/************** background image *********/
.wgu-background-image {
  max-height: 100vh !important;
  width: 100% !important;
  position: absolute;
  top: 55px;
  z-index: -100;
}

.wgu-layover {
  position: absolute;
  top: 55px;
  background-color: rgba(55, 55, 55, 0.8);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: none;
}

.wgu-layover {
  position: absolute;
  top: 55px;
  background-color: rgba(55, 55, 55, 0.8);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: none;
}

/************** Offcanvas ****************/

.offcanvas-backdrop.show {
  opacity: .65 !important;
}

.offcanvas {
  width: 550px !important;
}

#offcanvasButton {
  width: 235px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: calc(50vh - 137.5px);
  right: 20px;
  color: white;
  background-image: linear-gradient(60deg, black 0%, var(--color-dark) 100%);
  border-radius: 15px 15px 0 0;
  border-color: var(--color-very-light);
  transform: rotate(270deg);
  transform-origin: right;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.offcanvas-header {
  background-image: linear-gradient(60deg, black 0%, var(--color-dark) 100%);
  color: white;
}

/***************** Alert ******************/
.wgu_alert {
  border-radius: 7px;
  width: 250px;
  height: 250px;
  display: none;
  text-align: center;
  padding-top: 75px;
}


/***************** Technical details ******************/
.wgu_tab_link {
  color: black;
  background-color: var(--color-very-light);
  border-color: black;
  margin-left: 5px;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: rgb(96, 96, 96);
}

#technical-details {
  background-color: white;
  margin-top: 50px;
  border-radius: 10px;
}

.wgu-nav-tabs {
  border-bottom: 1px solid var(--color-very-light) !important;
  padding-top: 10px;
  margin-bottom: 5px;
}

/*************************/

.wgu_jumbotron {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 70%;
  padding: 30px 15px 30px 15px;
  text-align: left;
}

.wgu_jumbotron_demo {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 70%;
  padding: 30px 15px 30px 15px;
  text-align: left;
  margin-top: 70px;
}

.wgu_jumbotron_demo_center {
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: left;
  padding: 30px 15px 30px 15px;
  position: absolute;
  transform: translate(-50%, -60%);
  width: 70%;
}



/******************* Cellphone devices******************************/

@media (max-width:992px) {
  /* body {
    background-color: gray;
  } */

  /** Don't show the steppers menu if the viewport is 850 pixels wide or narrow */
  .bs-stepper-header {
    display: none !important;
  }

  /*Hide UI elements on small screens*/
  .hide-in-narrow-screen {
    display: none;
  }

  /*Make the jumbotron 100% width if the viewport is 1250 pixels wide or narrow*/
  .wgu_jumbotron,
  .wgu_jumbotron_demo,
  .wgu_jumbotron_demo_center {
    width: 100% !important;
  }
}