@page
@model WoodgroveDemo.Pages.IdTokenHint.PresentModel
@{
    ViewData["Title"] = "Confirm you attended a history class with your student card";
    ViewData["SubTitle"] = "ID token hint attestation";
}

@section Background {
    <img class="img-fluid wgu-background-image" src="~/images/scenarios/class.jpg">
}

@section Demo {
    <div class="jumbotron wgu_jumbotron_demo">
        <div class="bs-stepper vertical">
            <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#intro-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="intro-part"
                        id="intro-part-trigger">
                        <span class="bs-stepper-circle" style="visibility: hidden;"><i class="bi bi-info-lg"></i></span>
                        <span class="bs-stepper-label">Welcome</span>
                    </button>
                </div>
                <div class="step" data-target="#information-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                        id="information-part-trigger">
                        <span class="bs-stepper-circle"><i class="bi bi-keyboard"></i></span>
                        <span class="bs-stepper-label">Select a class</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#qrcode-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="qrcode-part"
                        id="qrcode-part-trigger">
                        <span class="bs-stepper-circle"><i class="bi bi-qr-code"></i></span>
                        <span class="bs-stepper-label">Scan the QR code</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#userAction-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="userAction-part"
                        id="userAction-part-trigger">
                        <span class="bs-stepper-circle"><i class="bi bi-person-lock"></i></span>
                        <span class="bs-stepper-label">Share the card</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#completed-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="completed-part"
                        id="completed-part-trigger">
                        <span class="bs-stepper-circle"><i class="bi bi-check2-all"></i></span>
                        <span class="bs-stepper-label">Completed</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content position-relative" style="width: 100%;">
                <!-- Introdction step -->
                <div id="intro-part" class="content fs-5" role="tabpanel" aria-labelledby="intro-part-trigger">

                    This online demo will help you to confirm you attended a class with your student card.

                    <p style="padding-top: 15px;">
                        Do not have a student card? click <a asp-page="Issue" class="link-warning">here</a> to issue.
                    </p>

                    <p style="padding-top: 15px;">
                        To start, click the
                        start
                        button.
                    </p>

                    <div class="position-absolute bottom-0 end-0">
                        <button class="btn btn-warning" onclick="stepper.next()">Start</button>
                    </div>
                </div>

                <!-- Add credential's information step -->
                <div id="information-part" class="content fs-5" role="tabpanel" aria-labelledby="information-part-trigger">

                    Please select a class:

                    <div class="mb-3" style="margin-top: 20px;">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="classGroup" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                                Probability Management
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="classGroup" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Achieving Innovation Through Inspiration
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="classGroup" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Accounting for Managers and Entrepreneurs
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="classGroup" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Building Modeling Workshop
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Date & Time:</label>
                        <input type="text" readonly class="form-control-plaintext" id="dateAndTime"
                            value="@DateTime.Now.ToString()" style="width: 300px; color: orange;" required>
                    </div>

                    <div class="position-absolute bottom-0 end-0">
                        <button class="btn btn-warning" onclick="startPresentation('IdTokenHint');">
                            <span id="startDemoSpinner" style="display: none;" class="spinner-border spinner-border-sm"
                                role="status" aria-hidden="true"></span> Start</button>
                    </div>

                    <div class="position-absolute bottom-0 start-0">
                        <button class="btn btn-secondary" onclick="stepper.previous()">Back</button>
                    </div>
                </div>
                <div id="qrcode-part" class="content fs-5" role="tabpanel" aria-labelledby="qrcode-part-trigger">
                    <partial name="QrCodePartial" />
                </div>

                <div id="userAction-part" class="content fs-5" role="tabpanel" aria-labelledby="userAction-part-trigger">
                    <p>
                        In the Microsoft Authenticator review the presentation request and share the student card with us.
                    </p>

                    <div class="text-center">
                        <div class="spinner-border" style="color: orange;" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>

                <div id="completed-part" class="content fs-3" style="margin-top: 50px;" role="tabpanel"
                    aria-labelledby="completed-part-trigger">
                    Congratulations <span id="valueToPresent" style="color: orange;"></span>, your class attendance
                    submission has been successfully completed.

                    <div class="text-center fs-1" style="margin-top: 20px;">
                        <i class="bi bi-emoji-smile"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section VerifiableCredentialDescription {
    <p style="margin-top: 10px;">
        This example shows how to present (and verify) the <a
            href="https://learn.microsoft.com/entra/verified-id/how-to-use-quickstart">ID
            token
            hint attestation </a> verifiable credential, where Woodgrove University

        passed claim values in the issuance request payload. Including the <i>family_name</i> and <i>given_name</i>
        with
        fixed values. For details check the <a
            href="https://learn.microsoft.com/entra/verified-id/rules-and-display-definitions-model#idtokenhintattestation-type">idTokenHint
            attestation</a> in manifest below.
    </p>
}
